<%- include("partials/header.ejs") %>
    <!-- First Section -->
    <section class="background first-section">
        <div class="box-main">
            <div class="first-half">
                <p class="text-big">Get the latest and accurate weather info for your area!</p>
                <p class="text-small">Get the most accurate weather info about your area without any headache! No account needed, 100% free, no ads and fast response time!</p>
                <div class="buttons">
                    <!-- <button class="btn">Subscribe</button>
                    <button class="btn">More projects</button> -->
                </div>
            </div>
            <div class="second-half">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpQZ4zKawZ5liidoue-aYpb_FvuNOYml8YoQ&usqp=CAU"
                    alt="Error">
            </div>
        </div>
    </section>
    <!-- Popular cities section -->
    <section class="popular-cities">

        <div class="popular">
            <p class="text-big">See the weather conditions of some of the famous cities worldwide.</p>
            <div class="images-deck">
                <div class="card">
                    <p class="city-name">London</p>
                    <img src="img/london.jpg" alt="a" srcset="" class="city-image">
                    <div class="popular-details">
                        <p class="text-small temp-popular"> <%- londonTemp %>째 C</p>
                        <p class="text-small desc-popular"> <%- londonDesc %></p>
                    </div>
                </div>
                <div class="card">
                    <p class="city-name">Toronto</p>
                    <img src="img/toronto.jpg" alt="a" srcset="" class="city-image">
                    <div class="popular-details">
                        <p class="text-small temp-popular"> <%- torontoTemp %>째 C</p>
                        <p class="text-small desc-popular"><%- torontoDesc %></p>
                    </div>
                </div>
                <div class="card">
                    <p class="city-name">Delhi</p>
                    <img src="img/delhi.jpg" alt="a" srcset="" class="city-image">
                    <div class="popular-details">
                        <p class="text-small temp-popular"><%- delhiTemp %>째 C </p>
                        <p class="text-small desc-popular"><%- delhiDesc %></p>
                    </div>
                </div>
                <div class="card">
                    <p class="city-name">Melbourne</p>
                    <img src="img/melbourne.jpg" alt="a" srcset="" class="city-image">
                    <div class="popular-details">
                        <p class="text-small temp-popular"> <%- melbourneTemp %>째 C</p>
                        <p class="text-small desc-popular"><%- melbourneDesc %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs")%>
</body>

</html>